#disqus_thread {
  position: absolute;
  z-index: 0;
  top: 50%;
  margin-top: -300px;
  width: 100%;
}

.hide-top {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -150px;
  width: 100%;
  height: 150px;
  background: black;
}
