.search input[type="text"] {
  width: 400px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  border: 1px solid rgb(249,214,193);
}

.search ul {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -65px;
  text-align: center;
}

.search ul li {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(122,201,191,.7);
  color: white;
  border-bottom: 1px solid rgb(249,214,193);
  cursor: pointer;
}
