<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href='https://fonts.googleapis.com/css?family=Hind|Dancing+Script' rel='stylesheet' type='text/css'>
<link href='/css/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
	</div>


	<div class="header">
		
		<div class="nav">
			<ul class="nav-1">
				<li><a href="details.html">DETAILS</a></li>
				<li><a href="crew.html">CREW</a></li>
				<li><a href="photos.html">PHOTOS</a></li>
			</ul>
			<h1><a href="index.html">P&J</a></h1>
			<ul class="nav-2">
				<li><a href="post.html">POST A MEMORY</a></li>
				<li><a href="request.html">REQUEST A SONG</a></li>
			</ul>
		</div>
	</div>
			<div class="container">
			
			{{ content }}
			
			</div>


</body>
</html>
