<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href='https://fonts.googleapis.com/css?family=Hind|Alegreya+Sans:300|Yeseva+One' rel='stylesheet' type='text/css'>
<link href='/css/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="header">
		<div class="nav">
			<ul>
				<li class="home"><a href="http://phyllisandjohn.com/">HOME</a></li>
				<li class="details"><a href="http://phyllisandjohn.com/details">DETAILS</a></li>
				<li class="crew"><a href="http://phyllisandjohn.com/crew">CREW</a></li>
				<li class="photos"><a href="http://phyllisandjohn.com/photos">PHOTOS</a></li>
				{% for post in site.posts %}
	    			<li class="post"><a href="{{ post.url }}">POST A MEMORY</a></li>
	  			{% endfor %}
				<li class="request"><a href="http://phyllisandjohn.com/request">REQUEST A SONG</a></li>
			</ul>
		</div>
	</div>
	{{ content }}
</body>
</html>
