<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href='https://fonts.googleapis.com/css?family=Hind|Alegreya+Sans:300|Yeseva+One' rel='stylesheet' type='text/css'>
<link href='/css/request.css' rel='stylesheet' type='text/css'>
<link href='/css/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="header">
		<div class="nav">
			<h1><a href="http://phyllisandjohn.com/">P&J</a></h1>
			<ul>
				<li><a href="http://phyllisandjohn.com/details">DETAILS</a></li>
				<li><a href="http://phyllisandjohn.com/crew">CREW</a></li>
				<li><a href="http://phyllisandjohn.com/photos">PHOTOS</a></li>
				{% for post in site.posts %}
	    			<li><a href="{{ post.url }}">POST A MEMORY</a></li>
	  			{% endfor %}
				<li><a href="http://phyllisandjohn.com/request">REQUEST A SONG</a></li>
			</ul>
		</div>
	</div>

{{content}}

</body>
</html>
